<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.webshark.on2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".onGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/home_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".startActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".telephoneActivity"
            android:label="@string/title_activity_telephone" >
        </activity>
        <activity
            android:name=".eulaActivity"
            android:label="@string/title_activity_eula" >
        </activity>
        <activity
            android:name=".verifyActivity"
            android:label="@string/title_activity_verify" >
        </activity>
        <activity
            android:name=".registProfileActivity"
            android:label="@string/title_activity_regist_profile" >
        </activity>
        <activity
            android:name=".homeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".privacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy" >
        </activity>
        <activity
            android:name=".onListActivity"
            android:label="@string/title_activity_on_list" >
        </activity>
        <activity
            android:name=".hiListActivity"
            android:label="@string/title_activity_hi_list" >
        </activity>
        <activity
            android:name=".friendListActivity"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name=".homeTabActivity"
            android:label="@string/title_activity_home_tab" >
        </activity>
        <activity
            android:name=".home2Activity"
            android:label="@string/title_activity_home2" >
        </activity>
    </application>

</manifest>
